<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: group-banner"></div>
<div class="container">
    <div th:replace="fragments.html :: group-info"></div>
    <div th:replace="fragments.html :: group-menu(groupMenu='members')"></div>

    <div th:replace="fragments.html :: member-list(members=${group.managers},isManager=${true})"></div>
    <div th:replace="fragments.html :: member-list(members=${group.members},isManager=${false})"></div>

    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>